@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  background-color: #fff;
  border: 1px solid #6b7280;
  /* Tailwind gray-500 */
  padding: 7px;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #6b7280;
  /* Tailwind gray-500 */
  border-color: #6b7280;
  /* Tailwind gray-500 */
}

input[type="checkbox"]:checked:after {
  content: '✔';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 10px;
}


input:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: none;
}

.react-calendar {
  border: none;
}


/* styles/globals.css */

/* Customize scrollbar for Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px; /* Adjust width as needed */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Scrollbar color */
  border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color on hover */
}

/* Customize scrollbar for Firefox */
* {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: #888 #f1f1f1; /* Scrollbar color and track color */
}

/* Optional: For a more consistent scrollbar design across browsers */
html {
  scroll-behavior: smooth;
}

