@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  background-color: #fff;
  border: 1px solid #6b7280;
  /* Tailwind gray-500 */
  padding: 7px;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #6b7280;
  /* Tailwind gray-500 */
  border-color: #6b7280;
  /* Tailwind gray-500 */
}

input[type="checkbox"]:checked:after {
  content: '✓';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 15px;
  font-weight: 400;
}


input:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: none;
}

/* Remove border from the entire calendar */
.react-calendar {
  border: none !important;
  /* Ensure the border is completely removed */
  box-shadow: none;
  /* In case there is a shadow effect creating a border-like appearance */
}

/* Add a border and style for the current day */
.current-day {
  border: 1px solid blue !important;
  background-color: transparent !important;
  color: #8D7EA8 !important;
  /* Add !important to override other styles */
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 255, 0.3);
  /* Adjust shadow color and opacity */

}

/* Remove the background color from the selected day */
.react-calendar__tile--now {
  background: none !important;
  color: #8D7EA8 !important;
  /* Ensure the color shows for the current date */
}



/* styles/globals.css */

/* Customize scrollbar for Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px;
  /* Adjust width as needed */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Track color */
}

::-webkit-scrollbar-thumb {
  background: #888;
  /* Scrollbar color */
  border-radius: 10px;
  /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Darker color on hover */
}

/* Customize scrollbar for Firefox */
* {
  scrollbar-width: thin;
  /* Thin scrollbar */
  scrollbar-color: #888 #f1f1f1;
  /* Scrollbar color and track color */
}

/* Optional: For a more consistent scrollbar design across browsers */
html {
  scroll-behavior: smooth;
}


/* styles/globals.css */
.pagination {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.page-item {
  margin: 0 2px;
}

.page-link {
  display: block;
  padding: 6px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-decoration: none;
  color: #707070;
}

.page-link:hover {
  background-color: #e9ecef;
}

.active .page-link {
  background-color: #707070;
  color: white;
  border-color: #707070;
}

body {
  font: normal normal  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



#cover-spin {
  position:fixed;
  width:100%;
  left:0;right:0;top:0;bottom:0;
  background-color: rgba(255,255,255,0.7);
  z-index:9999;
  display:none;
}

@-webkit-keyframes spin {
from {-webkit-transform:rotate(0deg);}
to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
from {transform:rotate(0deg);}
to {transform:rotate(360deg);}
}

#cover-spin::after {
  content:'';
  display:block;
  position:absolute;
  left:48%;top:40%;
  width:40px;height:40px;
  border-style:solid;
  border-color:black;
  border-top-color:transparent;
  border-width: 4px;
  border-radius:50%;
  -webkit-animation: spin .8s linear infinite;
  animation: spin .8s linear infinite;
}